@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.display-wrapper {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}

.display-wrapper-top-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 522px;
  background-color: #f9be2c;
}

.container {
  padding: 0 80px;
}

/* ========================== */
/** nav */
/* ========================== */

.nav-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 35px;
}

.logo a {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  font-size: 1.25rem;
}

.menu ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.menu ul li a:hover {
  border-bottom: 2px solid;
  font-weight: bold;
}

@media screen and (max-width: 1470px){
  .menu ul {
    gap: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .menu ul {
  }
}

/* ========================== */
/** contents-top-section */
/* ========================== */

.contents-top-section {
  padding-top: 45px;
}


/* ========================== */
/** contents-top */
/* ========================== */

.contents-top-wrapper {
  display: flex;
}

.contents-top-wrapper .desc {
  position: relative;
  padding-top: 56px;
}

.contents-top-wrapper .desc .text h1{
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: 1.8px;
}

.contents-top-wrapper .desc .text p {
  width: 240px;
  font-size: 1.14rem;
  line-height: 1.56;
  padding-top: 18px;
}

.contents-top-wrapper .desc .button {
  width: 316px;
  height: 70px;
  padding: 20px 101px 21px;
  border-radius: 36px;
  background-color: #222222;
  color: #f9be2c;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
  margin-top: 155px;
  font-weight: bold;
}

.contents-top-wrapper .desc .button:hover {
  background-color: #444444;
}

.contents-top-wrapper .swiper {
  margin-left: 100px;
  width: 1380px;
  min-width: 1380px;
}

.contents-top-wrapper .swiper-slide .card {
  width: 300px;
  height: 534px;
  position: relative;
  cursor: pointer;
}

.contents-top-wrapper .swiper-slide .card .card-img {
  width: 300px;
  height: 420px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.36);
  overflow: hidden;
}

.contents-top-wrapper .swiper-slide .card .tag {
  padding-top: 12px;
}

.contents-top-wrapper .swiper-slide .card .title {
  padding-top: 10px;
}

.contents-top-wrapper .swiper-slide .card .tag .tag-text {
  display: inline-block;
  height: 24px;
  padding: 2px 10px 5px;
  border: 1px solid #C7C7C7;
  border-radius: 12px;
  background-color: #FFFFFF;
  font-size: 0.7rem;
  line-height: 20px;
  color: #B1B1B1;
  font-weight: bold;
}

.contents-top-wrapper .swiper-slide .card .title h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #222222;
  line-height: 1.27;
}

.contents-top-wrapper .swiper-slide .card .right-arrow-btn {
  position: absolute;
  bottom: 83px;
  right: -25px;
}

.contents-top-wrapper .swiper-slide .card:hover .card-img {
  border: 2px solid #f9be2c;
}

.contents-top-wrapper .swiper-slide .card:hover .right-arrow-btn img {
  content: url("./assets/right-arrow-btn-hover.svg");
}

/* ========================== */
/** contents-bottom */
/* ========================== */

.contents-bottom-section {
  padding-top: 60px;
}

.contents-bottom-wrapper {
  position: relative;
  display: flex;
  height: 340px;
}

.contents-bottom-wrapper .data-info {
  width: 650px;
  height: 100%;
  background-color: #444444;
  padding-top: 45px;
}

.contents-bottom-wrapper .example-list {
  width: 930px;
  height: 100%;
  background-color: #f5f5f5;
}

.contents-bottom-wrapper .art-data-promotion {
  position: absolute;
  top: -50px;
  right: 1px;
  border-radius: 50% 0 0 50%;
  width: 440px;
  height: 440px;
  background-color: #FFFFFF;
}

.contents-bottom-wrapper table {
  width: 100%;
}

.contents-bottom-wrapper table thead {
 height: 70px;
}

.contents-bottom-wrapper table .table-header {
  text-align: left;
  font-size: 1.8rem;
  color: #FFFFFF;
  font-weight: bold;
}

.contents-bottom-wrapper table .table-header.more {
  text-align: right;
  cursor: pointer;
}

.contents-bottom-wrapper table tbody tr {
  cursor: pointer;
}

.contents-bottom-wrapper table tbody tr td {
  font-size: 1.2rem;
  color: #FFFFFF;
  height: 64px;
  line-height: 1.1;
}

.contents-bottom-wrapper table tbody tr td span {
  font-size: 0.85rem;
  color: #fefefe;
}

.contents-bottom-wrapper table tbody tr td.date {
  text-align: right;
}

.contents-bottom-wrapper .example-list {
 padding-top: 45px;
}

.contents-bottom-wrapper .example-list .example-list-wrapper {
  width: 700px
}

.contents-bottom-wrapper .example-list .example-list-header {
  display: flex;
  justify-content: space-between;
}

.contents-bottom-wrapper .example-list h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.contents-bottom-wrapper .example-list .example-list-header .example-list-more {
  font-size: 2rem;
  cursor: pointer;
}

.example-list-wrapper .example-list-main {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.example-list-wrapper .example-list-main .example-list-main-content {
  width: 200px;
  height: 170px;
  border-radius: 30px 30px 0 30px;
  padding: 25px 25px 0 25px;
  cursor: pointer;
  background-color: #3f3e3e;
  background-blend-mode: overlay;
}

.example-list-wrapper .example-list-main .example-list-main-content:hover {
  background-color: #646363;
}

.example-list-wrapper .example-list-main .example-list-main-content.exam-list-main-first {
  background-image: url("./assets/exam_img_01.webp");
  background-size: cover;
}

.example-list-wrapper .example-list-main .example-list-main-content.exam-list-main-second {
  background-image: url("./assets/exam_img_03.webp");
  background-size: cover;
}

.example-list-wrapper .example-list-main .example-list-main-content.exam-list-main-third {
  background-image: url("./assets/exam_img_03.webp");
  background-size: cover;
}

.example-list-wrapper .example-list-main-content-wrapper {
  color: #FFFFFF;
}

.example-list-wrapper .example-list-main-content-wrapper span {
  font-size: 3rem;
  font-weight: bold;
}

.example-list-wrapper .example-list-main-content-wrapper p {
  padding-top: 20px;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 500;
}

.art-data-promotion-wrapper {
  position: absolute;
  top: 100px;
  left: 145px;
  padding-right: 65px;
}

.art-data-promotion-wrapper h5 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #444444;
  margin-bottom: 30px;
}

.text-green {
  color: #97a70a;
}

.ye-ba-se h1 {
  font-size: 3.75rem;
  font-family: Recipekorea;
}

.ye-ba-se-description {
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: -0.35px;
  color: #888888;
  font-weight: bold;
  margin-top: 10px;
}

.ye-ba-se-next {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ye-ba-se-next:hover .ye-ba-se-arrow {
  transform: translate(10%);
}

.ye-ba-se-next .text-green {
  font-size: 0.9rem;
  font-weight: bold;
}

.ye-ba-se-next .rounded-green {
  width: 54px;
  height: 54px;
  background-color: #97a70a;
  border-radius: 50%;
}

.ye-ba-se-arrow {
  position: absolute;
  left: 80px;
  transition: 0.4s;
}

/* ========================== */
/** partner-list */
/* ========================== */

section.partner-list {
  padding-top: 70px;
  padding-bottom: 70px;
}

.partner-list-wrapper {
  display: flex;
  justify-content: space-around;
}

.partner-list-wrapper img{
  height: 40px;
}

/* ========================== */
/** footer */
/* ========================== */

footer {
  background-color: #444444;
  height: 140px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 34px;
}

footer .logo img{
  cursor: pointer;
}

footer .address {
  display: flex;
  font-size: 0.8rem;
  padding-top: 18px;
  color: #999999;
}
